@using System.Data;
@using System.Data.Entity;

@{
    Layout = null;

    string utm_source = Request.Params["utm_source"];
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0">
    <title>Dell - 全方位IT 職場加持術</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://www.digital-transformation.com.tw/ClientSolution/FY20Q1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://www.digital-transformation.com.tw/ClientSolution/FY20Q1/css/dell_nav.css">
    <link rel="stylesheet" href="https://www.digital-transformation.com.tw/ClientSolution/FY20Q1/css/dell_bootcamp.css">
    <link rel="stylesheet" href="https://www.digital-transformation.com.tw/ClientSolution/FY20Q1/css/dell_survey.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300|Roboto:100,400" rel="stylesheet">

    <link href="https://www.digital-transformation.com.tw/ClientSolution/FY20Q1/css/alertify.core.css" rel="stylesheet" />
    <link href="https://www.digital-transformation.com.tw/ClientSolution/FY20Q1/css/alertify.bootstrap.css" rel="stylesheet" />

    <style type="text/css">
        body, td, th {
            font-family: Arial, "微軟正黑體";
        }

        .alertify-button, .alertify-button:hover, .alertify-button:focus, .alertify-button:active {
            font-size: 16px;
        }

        .alertify-message {
            color: #000;
        }

        .alertify-button-ok, .alertify-button-ok:hover, .alertify-button-ok:focus, .alertify-button-ok:active {
            background-color: #1777FC;
        }

        .alertify-message {
            font-size: 16px;
        }

        .alertify {
            padding: 0;
        }

        .alertify-buttons {
            width: 100%;
            box-sizing: border-box;
            position: relative;
            height: auto;
            top: auto;
        }

        .hidden {
            display: none;
        }

        input {
            -webkit-touch-callout: all;
            -webkit-user-select: all;
            -khtml-user-select: all;
            -moz-user-select: all;
            -ms-user-select: all;
            user-select: all;
        }
    </style>

    </head>



        <body>

            <!-- Facebook Pixel Code -->
            <script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window, document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '434987007238336');
fbq('track', 'PageView');
            </script>
            <noscript>
                <img height="1" width="1" style="display:none"
                     src="https://www.facebook.com/tr?id=434987007238336&ev=PageView&noscript=1" />
            </noscript>
            <!-- End Facebook Pixel Code -->

            <script>
fbq('track', 'ViewContent', {
content_type:'surveypage',
});
            </script>


            <!-- menuBox start -->
            <div class="menuBox">
                <div class="menuWrapper">
                    <div class="logoBox">
                        <a href="index.html" class="logo_dell">
                            <img src="https://www.digital-transformation.com.tw/ClientSolution/FY20Q1/images/logo_dell_intel.png">
                        </a>
                        <a  href="https://www.facebook.com/DellEMCTaiwan/" class="m-facebook" target="_blank"></a>
                    </div>

                </div>
            </div>
            <!-- menuBox End -->
            <div class="survey_warp">
                <div class="dell_event_kv kv_survey">

                </div>
                <!-- survey start -->
                <div class="dell_survey_block">

                    <form id="form1" name="form1" action="" method="post">

                        @Html.AntiForgeryToken()
                        <input type="hidden" name="utmsource" id="utmsource" value="@(utm_source)">

                        <h3>全方位IT職場加持術<br>填寫問券送獨家好禮</h3>
                        <!--p class="form_notice">
            為避免影響您與會的權益，以下訊息請<span>務必完整填寫</span>。
        </p-->
                        <ul class="notice-list">
                            <li>活動期間：即日起至2019/4/16(二) 17:00止</li>
                            <li>得獎名單：2019/4/26 (五) 21:00 於 <a href="https://www.facebook.com/DellEMCTaiwan/" target="_blank">Dell EMC 粉絲團公布</a></li>
                            <li>獎品寄送：2019/5/17(五)前寄送（限台灣地區）</li>
                            <li class="l-note">
                                獨家贈品<b>限量100名</b>(以填寫問券先後順序為準，且僅限留存公司電子郵件之合格參加者，數量有限，先到先得)．主辦單位保留審核得獎資格與修正活動辦法之權力
                            </li>
                        </ul>


                        <!-- survey start -->
                        <div class="dell_survey">
                            <hr class="hrline"></hr>
            
                                <div id="q1" class="mb-3">
                                    <label class="label_q" for="" id="a1">問題一：請問您(貴單位)是否有採購筆記型電腦、桌上型電腦、或工作站的計畫? </label>
                                    <div class="d-block my-3">
                                        <div class="custom-control custom-radio">
                                            <input id="plan-1" name="a1" value="三個月內" type="radio" class="custom-control-input" >
                                            <label class="custom-control-label" for="plan-1">三個月內</label>
                                        </div>
                                        <div class="custom-control custom-radio">
                                            <input id="plan-2" name="a1" value="六個月內" type="radio" class="custom-control-input" >
                                            <label class="custom-control-label" for="plan-2">六個月內</label>
                                        </div>
                                        <div class="custom-control custom-radio">
                                            <input id="plan-3" name="a1" value="一年內" type="radio" class="custom-control-input">
                                            <label class="custom-control-label" for="plan-3">一年內</label>
                                        </div>
                                        <div class="custom-control custom-radio">
                                            <input id="plan-4" name="a1" value="暫無需求" type="radio" class="custom-control-input">
                                            <label class="custom-control-label" for="plan-4">暫無需求</label>
                                        </div>
                                    </div>
                                </div>
                                <hr class="hrline"></hr>
                                <div id="q2" class="mb-3">
                                    <label class="label_q" for="" id="a2">問題二：請問您(貴單位)在管理公司終端用戶設備時，是否遇到下列挑戰？(複選) </label>
                                    <div class="d-block my-3">
                                        <div class="custom-control custom-checkbox">
                                            <input id="q2-1" name="a2" value="擔心駭客入侵，盜取密碼強度不足的使用者身分" type="checkbox" class="custom-control-input" >
                                            <label class="custom-control-label" for="q2-1">擔心駭客入侵，盜取密碼強度不足的使用者身分</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input id="q2-2" name="a2" value="因人為疏失、病毒感染、硬體故障…等因素致使關鍵資料遺失，導致業務營運中斷" type="checkbox" class="custom-control-input" >
                                            <label class="custom-control-label" for="q2-2">因人為疏失、病毒感染、硬體故障…等因素致使關鍵資料遺失，導致業務營運中斷</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input id="q2-3" name="a2" value="擔心終端用戶設備不當管理，導致檔案資料外洩" type="checkbox" class="custom-control-input" >
                                            <label class="custom-control-label" for="q2-3">擔心終端用戶設備不當管理，導致檔案資料外洩</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input id="q2-4" name="a2" value="希望能用更簡單安全的的方式交付及管理終端用戶的任何應用程式" type="checkbox" class="custom-control-input">
                                            <label class="custom-control-label" for="q2-4">希望能用更簡單安全的的方式交付及管理終端用戶的任何應用程式</label>
                                        </div>
                                    </div>
                                </div>
                                <hr class="hrline"></hr>
                                <div id="q3" class="mb-3">
                                    <label class="label_q" for="" id="a3">問題三：針對下列產品，請問您(貴單位)是否需要戴爾相關人員做進一步介紹</label>
                                    <div class="d-block my-3">
                                        <div class="custom-control custom-checkbox">
                                            <input id="q3-1" name="a3" value="Dell Endpoint 安全套件企業版" type="checkbox" class="custom-control-input" >
                                            <label class="custom-control-label" for="q3-1">Dell Endpoint 安全套件企業版</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input id="q3-2" name="a3" value="RSA SecurID® Access" type="checkbox" class="custom-control-input">
                                            <label class="custom-control-label" for="q3-2">RSA SecurID<sup>®</sup> Access</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input id="q3-3" name="a3" value="Dell EMC Avamar" type="checkbox" class="custom-control-input">
                                            <label class="custom-control-label" for="q3-3">Dell EMC Avamar</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input id="q3-4" name="a3" value="VMware Workspace ONE" type="checkbox" class="custom-control-input" >
                                            <label class="custom-control-label" for="q3-4">VMware Workspace ONE</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input id="q3-5" name="a3" value="Dell Precision 工作站" type="checkbox" class="custom-control-input">
                                            <label class="custom-control-label" for="q3-5">Dell Precision 工作站</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input id="q3-6" name="a3" value="Dell OptiPlex桌上型電腦" type="checkbox" class="custom-control-input">
                                            <label class="custom-control-label" for="q3-6">Dell OptiPlex桌上型電腦</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input id="q3-7" name="a3" value="Dell Latitude 筆記型電腦" type="checkbox" class="custom-control-input">
                                            <label class="custom-control-label" for="q3-7">Dell Latitude 筆記型電腦</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input id="q3-8" name="a3" value="其他" type="checkbox" class="custom-control-input">
                                            <label class="custom-control-label" for="q3-8">其他</label>
                                            <input type="text" class="othertext" name="a3_other" id="a3_other">
                                        </div>
                                    </div>
                                </div>
                                <hr class="hrline"></hr>
                                <div class="mb-3">
                                    <label class="label_q" for="fullname">請輸入您的姓名</label>
                                    <input type="text" class="form-control" id="fullname" name="username" placeholder="" value="" >
                                </div>
                                <div class="mb-3">
                                    <label for="gender">請選擇您的性別</label>
                                    <div class="d-block my-3">
                                        <div class="custom-control custom-radio">
                                            <input id="male" name="sex" value="男" type="radio" class="custom-control-input" checked="" >
                                            <label class="custom-control-label" for="male">男</label>
                                        </div>
                                        <div class="custom-control custom-radio">
                                            <input id="female" name="sex" value="女" type="radio" class="custom-control-input" >
                                            <label class="custom-control-label" for="female">女</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 mb-3">
                                        <label for="company">請輸入您的公司名稱</label>
                                        <input type="text" class="form-control" id="company" name="company" placeholder="請輸入您的公司名稱" >
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label for="department">請輸入您的部門名稱</label>
                                        <input type="text" class="form-control" id="department" name="department" placeholder="請輸入您的部門名稱">
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="title">請輸入您的職稱</label>
                                    <input type="text" class="form-control" id="title" name="title" placeholder="請輸入您的職稱" >
                                </div>
                                <div class="row">
                                    <div class="col-md-3 mb-3">
                                        <label for="tel">請輸入您的連絡電話</label>
                                        <input type="text" class="form-control phone" id="tel" name="tel" placeholder="例:02-29601234" >
                                    </div>
                                    <div class="col-md-3 mb-3">
                                        <label for="telext">請輸入您的分機號碼</label>
                                        <input type="text" class="form-control" id="telext" name="telext" placeholder="" >
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label for="mobilephone">請輸入您的行動電話</label>
                                        <input type="text" class="form-control mobilephone" id="mobilephone" name="mobilephone"  placeholder="例:0936-123-456" >
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="email">請輸入您的電子信箱</label>
                                    <input type="text" class="form-control" id="email" name="email" placeholder="" >
                                    <small class="text-muted">企業員工請務必使用公司郵箱,請勿使用個人外部信箱,以免喪失抽獎資格</small>
                                    <div class="invalid-feedback"></div>
                                </div>
                                <h4>請輸入您的地址</h4>
                                <div id="zipcode" class="row">
                                    <div class="col-md-4 mb-3">
                                        <label for="country">縣市</label>
                                        <div data-role="county" data-style="custom-select d-block w-100"></div>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <label for="state">鄉鎮市區</label>
                                        <div data-role="district" data-style="custom-select d-block w-100"></div>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <label for="zip">郵遞區號</label>
                                        <div data-role="zipcode" data-style="form-control"></div>
                                    </div>
                                    <div class="col-md-12 mb-3">
                                        <input type="text" class="form-control" id="address" name="address" placeholder="詳細地址">
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="type">產業類別</label>
                                    <select class="custom-select d-block w-100"  id="type"  name="type">
                                        <option value="Dell EMC通路經銷伙伴">Dell EMC通路經銷伙伴</option>
                                        <option value="金融業">金融業</option>
                                        <option value="政府 教育 醫療 能源">政府 教育 醫療 能源</option>
                                        <option value="製造業">製造業</option>
                                        <option value="零售業">零售業</option>
                                        <option value="媒體娛樂">媒體娛樂</option>
                                        <option value="交通運輸">交通運輸</option>
                                        <option value="企業服務">企業服務</option>
                                        <option value="電信通訊">電信通訊</option>
                                        <option value="其他">其他</option>
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" name="check1" id="check1" class="custom-control-input" value="1">
                                        <label class="custom-control-label" for="check1">我同意台灣戴爾易安信得定期或不定期寄發各類活動、課程及產品行銷有關之eDM或與商品或服務有關之訊息或行銷宣傳品至本人於參加活動過程中所填寫的聯絡地址及電子郵件信箱。我已熟讀「台灣戴爾易安信」應告知事項並同意得將本人參加本次活動所提供之個人資料供蒐集、處理及利用。</label>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <div class="form-group">
                                        <textarea class="form-control" id="" rows="20" placeholder="
服務專線
+886 287881555
荷蘭商戴爾企業股份有限公司台灣分公司
請於上班時間來電
星期一至星期五 上午09:00~12:00
下午01:00~06:00
個資聲明
歡迎使用荷蘭商戴爾企業股份有限公司台灣分公司（以下稱本單位）相關服務，依據個人資料保護法（以下稱個資法）第八條第一項規定，為了確保使用者之個人資料、隱私及權益之保護，當您已閱讀並同意「本單位個人資料保護法告知內容」時，即表示您願意以電子文件之方式行使法律所賦予同意之權利，並具有書面同意之效果，若不同意請離開此網頁。
(以下為本單位依「個人資料保護法」規定，必須向您告知的各項聲明，請您務必詳閱。)
一、 個人資料蒐集目的：
（一）從事資訊、通訊傳播、出版、影片服務、聲音錄製、音樂出版、傳播、節目播送、電信、電腦系統設計、資料處理及資訊供應服務等之行為均屬於本行業之個資蒐集目的。
（二）上述之相關業務或其他符合營業項目所定義之工作範圍。
二、 個人資料蒐集類別：
（一）識別類（例如：中、英文姓名、國民身分證統一編號、識別碼、學生或員工證號、聯絡電話號碼、地址、性別、出生地、電子郵遞地址、帳戶號碼與戶名、其它識別證號或電子識別標章）、特徵類（例如：出生年月日、國籍、個人照片、筆跡與紙本文件）、社會情況類（例如：職業、學經歷）、財務細節類（例如：銀行帳號、戶名或與本蒐集目的相關之財務資訊）等。
三、 個人資料利用之期間、地區、對象及方式：
（一）期間：利用期間為本單位或業務所必須之保存期間。
（二）地區：您的個人資料將用於本單位提供服務之地區。
（三）對象：本單位之共同行銷、交互運用客戶資料公司、合作推廣單位、業務往來機構、依法有調查權機關或金融監理機關。
（四）方式：電子文件、紙本，或以自動化機器或其他非自動化之利用方式。
四、 依據個資法第三條規定，您就本單位保有您的個人資料得行使下列權利：
（一）查詢、閱覽、複本、補充、更正、請求停止蒐集、請求停止處理、請求停止利用、請求刪除等權利。
本單位保有修訂本告知內容之權利，修正時亦同，以上條文參考自中華民國資料保護協會。

注意事項
一、參加活動即代表同意本單位運用表單資訊及參與Facebook互動之姓名與留言內容。
二、每位參加者僅能獲得一次抽獎機會，重複無效（含表單資訊及Facebook帳號）。
三、參與Facebook留言互動，請勿抄襲他人留言，或留下不相關之內容，本單位有權刪除此類留言。
四、活動得獎者預計於2019/4/26 (五) 21:00 公佈於Facebook貼文留言處，敬請留意。
五、參加者經主辦單位審核符合資格後，始寄出獎品。
六、獎項寄送僅限於台灣、金門、澎湖、馬祖地區，於2019/5/17(五)前開始寄送。
七、本單位具有修正辦法之權利。如有爭議，本單位保留最終決定權。

中獎須知
一、中獎者所留資料有誤，造成本單位資料被退件或未能傳送、通知、電子信箱設定被歸為垃圾郵件而未讀取，或資料不齊全者，皆視同放棄得獎資格，亦不得異議，由中獎者自負責任。
二、中獎者回覆之問卷內容，同意無償授權予本單位永久且無限制使用於行銷用途。
三、若中獎人因資格不符或願意放棄中獎資格者，不另行網路公告，本單位不再進行通知亦不替補。
四、獎項配送地址以中獎者填寫此問卷回覆資料之地址為準，得獎公告後本單位將不另行詢問，亦不負擔贈品無法送達之責任。
五、獎項詳細內容與規格、顏色以實物為準，網頁/產品包裝/門市佈置物上圖片僅供參考，獎項均不得轉換、轉讓或折換現金，本單位保留更換等值獎品之權利。
六、寄送獎項過程中，若發生任何毀壞、錯遞、延遲或遺失，然非本單位疏失造成者，本單位恕不負責。
七、本單位保留隨時修正、暫停或終止本活動之權利，如有變動並將另行公告於活動網站。
八、本活動如有任何因電腦、網路、電話、技術或其他不可歸責於本單位之事由，而使參與本活動者所登錄之資料有所遺失、錯誤、無法辨識或毀損所導致資料無效之狀況，活動小組不負任何法律責任，參加者與中獎者亦不得異議。
九、本活動主辦及相關協辦、合作單位員工無參加抽獎活動的權利。"></textarea>
                                    </div>
                                </div>
                                <button id="btn_send"  class="btn btn-primary btn-lg btn-block" type="button">確認送出</button>
                      
                        </div>

                    </form>

</div>

             

                <!-- survey End -->
            </div>
            <!-- footer start -->
            <footer>
                <div class="warp_block">
                    <div class="contact-block">
                        <div class="contact">
                            <p>欲了解更多詳情，歡迎來電或查詢官網</p>
                            <p>00801-863-051 / www.dell.com</p>
                        </div>
                        <a href="#" class="btn_facebook"></a>
                    </div>
                    <p class="copyright">
                        Dell<sup>®</sup> / EMC<sup>®</sup> / Dell EMC<sup>®</sup> 等品牌商標將可能同時出現在戴爾易安信相關企業級產品 (包括硬體和軟體)、產品相關資料及戴爾易安信官方網站。如果您對戴爾易安信產品有任何疑問，請聯繫您的銷售代表。
                        戴爾的條款和條件在此適用並可網上獲得或致函索取。戴爾會盡力排除報價錯誤或其它錯誤，但仍可能有錯誤。戴爾保留拒絕任何包含錯誤資訊訂單的權利。圖片僅供參考。請點擊這裡獲得更多資訊。Ultrabook、Celeron、Celeron Inside、Core Inside、Intel、Intel 圖誌、Intel Atom、Intel Atom Inside、Intel Core、Intel Inside、Intel Inside 圖誌、Intel vPro、Itanium、Itanium Inside、Pentium、Pentium Inside、vPro Inside、Xeon、Xeon Phi、Xeon Inside 和 Intel Optane 是 Intel Corporation 或其子公司在美國和/或其它國家的商標。 <br>
                        著作權為戴爾科技集團及其成員公司所有©2019 Dell Inc.或其子公司。保留所有權利。戴爾、戴爾標誌、Dell Technologies, Dell, EMC, Dell EMC和其他商標是Dell Inc.或其子公司的商標。其他商標權益歸屬其商標所有者所有。
                    </p>
                </div>
            </footer>
            <!-- footer End -->
            <!-- Button-chat start -->
            <a class="Button-chat" href="http://smarturl.it/dell_landing" target="_blank">
                <div class="chat-button"></div>
                <div class="pulse"></div>
                <p>
                    線上互動
                    <br>
                    <span>最新訊息一網打盡</span>
                </p>
            </a>
            <!-- Button-chat End -->

            <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

            <script src="https://www.digital-transformation.com.tw/ClientSolution/FY20Q1/Scripts/jquery.inputmask.bundle.min.js"></script>
            <script src="https://www.digital-transformation.com.tw/ClientSolution/FY20Q1/Scripts/inputmask/inputmask.phone.extensions.min.js"></script>
            <script src="https://www.digital-transformation.com.tw/ClientSolution/FY20Q1/Scripts/inputmask/phone-codes/phone.min.js"></script>
            <script src="https://www.digital-transformation.com.tw/ClientSolution/FY20Q1/Scripts/twzipcode-1.4.1-min.js"></script>
            <script src="https://www.digital-transformation.com.tw/ClientSolution/FY20Q1/Scripts/jquery.twzipcode.js"></script>
            <script src="https://www.digital-transformation.com.tw/ClientSolution/FY20Q1/Scripts/jquery.twzipcode.min.js"></script>
            <script src="https://www.digital-transformation.com.tw/ClientSolution/FY20Q1/Scripts/alertify.js"></script>
            <script src="https://www.digital-transformation.com.tw/ClientSolution/FY20Q1/Scripts/alertify.min.js"></script>

            <script type="text/javascript">
            $(document).ready(function(){
              $(window).scroll(function(){
                var scroll = $(window).scrollTop();
                  if (scroll > 0) {
                    $(".menuBox").css("background" , "#0076CE");
                  }

                  else{
                      $(".menuBox").css("background" , "transparent");      
                  }
              })
            })
            </script>

            <script type="text/javascript">
    (function ($) {
      $(function () {

        $(".phone").inputmask("09-99999999");
        $(".mobilephone").inputmask("0999-999-999");
        $(".email").inputmask("email");
      });

      $('#zipcode').twzipcode();

      $("#btn_send").click(function (event) {
          if (fieldcheck() == true) {
              fbq('track', 'SubmitApplication');
              $("#form1").submit();
          } else {
              return false;
          }
      });

    })(jQuery);
            </script>

            <script type="text/javascript">

        function fieldcheck() {

            var rtn = false;
            if ($("input[name='a1']:checked").val() == null) {
                alertify.alert('請填寫問題一', function () { scrollTo("a1"); });
            }else if ($("input[name='a2']:checked").val() == null) {
                alertify.alert('請填寫問題二', function () { scrollTo("a2"); });
            } else if ($("input[name='a3']:checked").val() == null) {
                alertify.alert('請填寫問題三', function () { scrollTo("a3"); });
            } else if ( $('#q3-8').is(':checked') == true && $("#a3_other").val() == "" ) {
                alertify.alert('請填寫問題三其他說明', function () { scrollTo("a3"); });
            } else if ($("#fullname").val() == "") {
                alertify.alert('請填寫姓名', function () { scrollTo("fullname"); });
            } else if ($("#company").val() == "") {
                alertify.alert('請填寫公司名稱', function () { scrollTo("company"); });
            } else if ($("#department").val() == "") {
                alertify.alert('請填寫部門名稱', function () { scrollTo("department"); });
            } else if ($("#title").val() == "") {
                alertify.alert('請填寫職稱', function () { scrollTo("title"); });
            } else if ($("#tel").val() == "") {
                alertify.alert('請填寫連絡電話', function () { scrollTo("tel"); });
            } else if ($("#mobilephone").val() == "") {
                alertify.alert('請填寫行動電話', function () { scrollTo("mobilephone"); });
            } else if ($("#email").val() == "") {
                alertify.alert('請填寫電子信箱', function () { scrollTo("email"); });
            } else if ($("select[name='county']").val() == "") {
                alertify.alert('請選擇縣市', function () { scrollTo("zipcode"); });
            } else if ($("select[name='district']").val() == "") {
                alertify.alert('請選擇鄉鎮市區', function () { scrollTo("zipcode"); });
            } else if ($("input[name='zipcode']").val() == "") {
                alertify.alert('請填寫郵遞區號', function () { scrollTo("zipcode"); });
            } else if ($("#address").val() == "") {
                alertify.alert('請填寫詳細地址', function () { scrollTo("address"); });
            } else if ($("#type").val() == "") {
                alertify.alert('請選擇產業類別', function () { scrollTo("type"); });
            } else if ($("input[name='check1']:checked").val() == null) {
                alertify.alert('請勾選同意事項', function () { scrollTo("check1"); });
            }else {
                rtn = true;
            }
            return rtn;
        }

        function scrollTo(objId) {
            $('html, body').animate({ scrollTop: $('#' + objId).offset().top - 200 }, 'slow');
            return false;
        }


            @{
            if (TempData["Message"]!=null)
            {

                if (TempData["Message"].ToString().Contains("成功") == true)
                {
                    @: alert('@(TempData["Message"])'); location.href = 'index.html';
                }
                else
                {
                    @: alertify.alert('@(TempData["Message"])');

                }
            }
        }

            </script>


        </body>
</html>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-108045445-6"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-108045445-6');
</script>